body {
    background-color: #ffebeb;
    text-align: center;
    position: relative;
}

/* Style for links */
a {
    text-decoration: none;
    color: #333;
}

/* Change link color on hover */
a:hover {
    color: #007BFF;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
}
